@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.container > * {
    color: #fff;
}


.item {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 60px;

}

.item1 .item2 .item3 {
    width: 40px;
}

.item1 {
    border-radius: 3% 0 0 3%;
}

.item3 {
    border-radius: 0 3% 3% 0;
}

.item:nth-child(1) {
    background-color: hsl(31, 77%, 52%);
}
.item:nth-child(2) {
    background-color: hsl(184, 100%, 22%);
}

.item:nth-child(3) {
    background-color: hsl(179, 100%, 13%);
}

.title h1 {
    font-family:'Big Shoulders Display', cursive;
}

.icon img {
    padding-bottom: 2em;
}

.desc {
    padding-top: 2em;
}

.desc p {
    color: hsla(0, 0%, 100%, 0.75);
}


.btn button {
    border: 0;
    width: 100px;
    height: 30px;
    border-radius: 30px;
    margin-top: 50px;
}

.btn1 button {
    color: hsl(31, 77%, 52%);
}

.btn2 button {
    color: hsl(184, 100%, 22%)
}

.btn3 button {
    color: hsl(179, 100%, 13%);
}