body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10% auto;
}

.container > * {
    color: #fff;
}


.item {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 60px;

}

.item1 .item2 .item3 {
    width: 40px;
}

.item1 {
    border-radius: 3% 0 0 3%;
}

.item3 {
    border-radius: 0 3% 3% 0;
}

.item:nth-child(1) {
    background-color: #fda219;
}

.item:nth-child(2) {
    background-color: #0f6a61;
}

.item:nth-child(3) {
    background-color: #106247;
}

.icon {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: black;
    opacity: 0.2;
}

 .icon .fa-solid {
    width: 30px;
    height: 30px;
}

.btn button {
    border: 0;
    width: 100px;
    height: 30px;
    border-radius: 30px;
    margin-top: 50px;
}

.btn1 button {
    color: #fda219;
}

.btn2 button {
    color: #0f6a61;
}

.btn3 button {
    color: #106247;
}